<div>
  
  <div class = "fenetre" style="     margin: 0 auto;">
    <div id="Button" class="fa fa-fw fa-bars"></div>
    Bonjour, ceci est un test. PAGE EN COURS DE MONTAGE
    Test : MàJ réussie
  </div>
  <br><br><br>

  <br><br><br>
  <br><br><br>

  

  <div class="cube">
    <a class="carre" href="/tp1/"><span class="fa fa-fw fa-desktop"></span> TP1</a>
    <a class="carre" href="/"><span class="fa fa-fw fa-cogs"></span> TP2</a>
    <a class="carre" href="/"><span class="fa fa-fw fa-database"></span> TP3</a>
    <a class="carre" href="#"><span class="fas fa-wrench"></span></a>
  </div>
  
  <canvas></canvas>
</div>



