<div class="card">
  <div class="row">
    <div class="col-sm-12">
      <h2> Sujets </h2>
      <br/>
    </div>

    <div class="col-sm-12">  
       <div>
          <p style="font-weight: bold;" id="description"> 
	      TP1 : Utiliser le Web et comprendre son fonctionnement
	      <br>
         </p>
           <button class="page" onclick="window.location.href = '/tp1/'">Faire ce TP</button>
       </div>
       <hr/>
       <div>
          <p style="font-weight: bold;" id="description"> 
	      TP2 : S'initier au Web des données
	      <br>
          </p>
	  <button class="page" href="/">Faire ce TP</button>
       </div>
       <hr/>
       <div>
          <p style="font-weight: bold;" id="description"> 
	      TP3 : Découvrir le langage SQL
	      <br>
          </p>
          <button class="page" href="/">Faire ce TP</button>
       </div>
    </div>
  </div>
</div>

<div class = "info">
  <b>Reste à faire pour le TP1 :</b> <br>
  - Création d'un menu sur le côté <br>
  - Commenter/organiser le code <br>
</div>


