<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

<div class="conteneur">
  <h2>
    <a href="#menu">Découvrez le Web des données</a>
  </h2>
     
  <div id="menu" class="openMenu" >
    <div class = "content">
      <a href="/" class="fermeture"></a>
      <div class = "nav">
        <ul class = "listeChoix">
          <div class = "choixMenu">
            <br><br><br><br><br><br>
            <li>
              <a href="/tp1"> TP1 : Comprendre le Web</a>
            </li>
            <li>
              <a href="#"> TP2 : Le Web des données</a>
            </li>
            <li>
              <a href="#">TP3 : Le langage SQL</a>
            </li>
            <li>
              <a href="/sql">Interpréteur SQL</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<link href="{{ url_for('static', filename='css/accueil.css') }}" rel="stylesheet">