<div class="conteneur">
  <h2>
    <a href="#menu">Découvrez le Web des données</a>
  </h2>
     
  <div id="menu" class="openMenu" >
    <div class = "content">
      <a href="/" class="fermeture"></a>
      <div class = "nav">
        <ul class = "listeChoix">
          <div class = "choixMenu" style="margin: auto">
            <h2>PARTIE 1 : Comprendre le Web</h2>
            <li>
              <a href="/tp1"> TP1 : Le Web documentaire</a>
            </li>
            <li>
              <a href="#"> TP2 : Le Web des données</a>
            </li>
            <h2>PARTIE 2 : Manipuler les données</h2>
            <li>
              <a href="#">TP3 : Données relationnelles</a>
            </li>
            <li>
              <a href="#">INTERPRÉTEUR SQL</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<link href="{{ url_for('static', filename='css/accueil.css') }}" rel="stylesheet">