{% extends 'base.html' %}

{% block content %}
<!-- Header -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.js"></script>

<header>
	<div class="container" id="maincontent" tabindex="-1">

    <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
      
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- =================== DIV GAUCHE : CONTENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div style = "padding-left: 30px;">

        <!-- Display "Le JavaScript" -->
        <div id = "div0">
          <div class="fenetre"> 
            <img class="boutons" src="/static/img/boutons.png" >
            <br>
            <div class="research"> 
              <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
              Le JavaScript
            </div>
            <br>
            <!-- Texte introductif -->
            <div style = "width: 500px; margin: auto; color: #1c1c3d">
              Un site Internet se compose de plusieurs langages dont l’utilisation de chacun répond à un but bien 
              précis : c’est leur addition qui forme une page Web.
            </div>
            <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
              <!-- Cadre du quiz (voir js/tp2/quiz3.js) -->
              <div style = "padding-left: 20px; width : 360px">
                <div class="quiz-container">
                  <div id="quiz"></div>
                </div>    
                <button class="quiz" id="submit">Corriger</button>
              </div>
              <div style = "padding-right: 20px;">
                <br><br>
                <!-- Cadre de définition -->
                <div class = "info" id = "div1" style="font-size: 13px; padding: 15px; margin:auto; display: none;">
                  Le <b>JavaScript</b> est un langage permettant de <b>décrire les interactions entre l’utilisateur 
                  et la page Web</b>, mais aussi de <b>modifier certains éléments</b> indépendamment des autres 
                  sans avoir à recharger la page.
                  <br><br>
                  <button class="quiz" id="btn2">Continuer</button>
                </div>
              </div>
              <br>
            </div>
          </div>

          <br>
          
          <div id = "div2" style="display: none;">
            <!-- Display "Dynamise ta page HTML !" -->
            <div class="fenetre"> 
              <img class="boutons" src="/static/img/boutons.png" >
              <br>
              <div class="research"> 
                <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
                Dynamise ta page HTML !
              </div>
              <br>
              <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
                <div class="info" style = "width : 400px; align-content: center;">
                  <pre style = "text-align: left;">
&lt;button onclick=ouvrirFenetre()&gt;
  Appuie pour ouvrir !
&lt;/button&gt;
&lt;script&gt;
function ouvrirFenetre(){
  window.alert("Tu as ouvert cette fenêtre !");
}
&lt;/script&gt;
                  </pre>        
                  <button onclick=ouvrirFenetre() class="quiz">Appuie pour ouvrir !</button>
                </div>               
                <div style="margin:auto">
                  <!-- Cadre de manipulation -->
                  <div class="info" style="text-align: center; font-size: 15px;">
                    <p style ="font-weight: bold; font-size: 20px; color: #34a853ff">Manipulation</p>
                    Le code ci-joint est écrit en JavaScript ! 
                    Il définit que, si l'on appuie sur le bouton, la fonction 
                    ouvrirFenetre() se joue et ouvre une fenêtre. Teste-le !
                    <br><br>
                    <button class="quiz" onclick="window.location.href = '/tp2/part1-4'">Continuer</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>

      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <!-- ===================== DIV DROITE : MENU ======================= -->
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <div >
        {% include 'menu.html' %}
      </div>
    </div>
		<br>

    {% include 'interface.html' %}

  </div>
</header>

<script src="{{ url_for('static', filename='js/tp2/quiz3.js') }}"></script>

{% endblock %}

