<div class="fenetre" style = "width: 450px; text-align: left; padding-left: 30px; padding-top:20px; padding-bottom: 20px; padding-right: 30px">
    <a class="partie" href="/">PARTIE 1 : Comprendre le Web</a><br>
    <hr style = "border-top: 1px dashed #7c7c7c7c; margin-top: 10px; margin-bottom: 10px">
    <a class="titre" href="/tp1"><i class="fa fa-fw fa-desktop"></i> TP1 : Le Web des documents</a><br>
    <a class="soustitre" href="/tp1">1. Clarification des notions</a><br>
    <a class="soustitre" href="/tp1/part2">2. Parcours du Web</a><br>
    <a class="souspartie" href="/tp1/part2">1. Consulter le Web</a><br>
    <a class="souspartie" href="/tp1/part2-1">2. Utiliser un moteur de recherche</a><br>
    <a class="souspartie" href="/tp1/part3">3. Les niveaux d'interrogation</a><br>  
    <hr style = "border-top: 1px dashed #7c7c7c7c; margin-top: 10px; margin-bottom: 10px">
    <a class="titre" href="/tp2"><i class="fa fa-fw fa-cogs"></i> TP2 : Le Web des données</a><br>
    <a class="soustitre" href="/tp2">1. Les données du Web</a><br>
    <a class="soustitre" href="/tp2/part2">2. Représenter les données entre elles</a><br>
</div>
<br>
<div class="fenetre" style = "width: 450px; text-align: left; padding-left: 30px; padding-top:20px; padding-right: 30px; padding-bottom: 20px">
    <a class="partie" href="/">PARTIE 2 : Manipuler les données</a><br>
</div>