<div class="fenetre" style = "width: 400px; text-align: left; padding-left: 30px; padding-top:20px; padding-right: 30px">
    <a class="titre" href="/"><i class="fa fa-fw fa-home"></i> Accueil</a><br>
    <hr style = "border-top: 1px dashed #7c7c7c7c; margin-top: 10px; margin-bottom: 10px">
    <a class="titre" href="/tp1"><i class="fa fa-fw fa-desktop"></i> TP1 : Comprendre le Web</a><br>
    <a class="soustitre" href="/tp1">1. Clarification des notions</a><br>
    <a class="souspartie" href="/tp1/part1">1. Architecture globale</a><br>
    <a class="souspartie" href="/tp1/part1-1">2. Communication sur Internet</a><br>
    <a class="souspartie" href="/tp1/part1-2">3. Communication sur le Web</a><br>
    <a class="soustitre" href="/tp1/part2">2. Atteindre un document recherché</a><br>
    <a class="soustitre" href="/tp1/part3">3. Les niveaux d'interrogation</a><br>  
    <hr style = "border-top: 1px dashed #7c7c7c7c; margin-top: 10px; margin-bottom: 10px">
    <a class="titre" href="/"><i class="fa fa-fw fa-cogs"></i> TP2 : Le Web des données</a><br>
    <a class="soustitre" href="/">1. Représenter la donnée individuellement</a><br>
    <a class="soustitre" href="/">2. Relier les données entre elles</a><br>
    <a class="soustitre" href="/">3. Apports du Web des données</a><br>
    <hr style = "border-top: 1px dashed #7c7c7c7c; margin-top: 10px; margin-bottom: 10px">
    <a class="titre" href="/"><i class="fa fa-fw fa-database"></i> TP3 : Le langage SQL</a><br>
    <a class="soustitre" href="/">1. Partie 1</a><br>
    <a class="soustitre" href="/">2. Partie 2</a><br>
    <a class="soustitre" href="/">3. Partie 3</a><br><br>
</div>