{% extends 'base.html' %}

{% block content %}

<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">

    <!-- Proposition de menu -->
    <div class="fenetre"> 
			<img class="boutons" src="/static/img/boutons.png" >
			<br>
			<div class="research" style="color: #34a853ff"> 
			  <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
        <select name="pays" id="pays" style="border: none;">
          <optgroup label="1. Clarification des notions">
            <option onclick="window.location.href = '/tp1/'" selected>1.1. Architecture globale</option>
            <option onclick="window.location.href = '/tp1/part1-1'">1.2. Communication sur Internet</option>
            <option onclick="window.location.href = '/tp1/part1-2'">1.3. Communication sur le Web</option>
          </optgroup>
          <optgroup label="2. Atteindre un document recherché">
            <option onclick="window.location.href = '/tp1/part2'">2.1. Consulter un document sur le Web</option>
            <option onclick="window.location.href = '/tp1/part2-1'">2.2. Utiliser un moteur de recherche</option>
          </optgroup>
          <optgroup label="3. Les niveaux d'interrogation">
            <option onclick="window.location.href = '/tp1/part3'">3.1. Je sais où est l'information</option>
            <option onclick="window.location.href = '/tp1/part3-1'">3.2. Je dois être moteur</option>
          </optgroup>
        </select>
      </div>
		</div>

    <br>
    <!-- Display question : Internet et Web-->
    <div id="div0" class="fenetre"> 
			<img class="boutons" src="/static/img/boutons.png" >
			<br>
			<div class="research"> 
				<i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
				Que sont Internet et le Web ?
			</div>
      <div style = "display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
        <div style = "padding-left: 30px;">
          <div class="quiz-container">
            <div id="quiz1"></div>
          </div>

          <div id="results"></div>
          <br>
          <button class="quiz" id="previous" >Précédent</button>
          <button class="quiz" id="next">Suivant</button>
          <button class="quiz" id="submit">Corriger</button>
          <br>
        </div>
        <div>
          <br>
          <img src="/static/img/habillage1.png">
        </div>
      </div>
		</div>

    <br>

    <!-- Display explication : Internet et Web-->
    <div class="fenetre" id="div1" style="height: 440px; display:none"> 
			<img class="boutons" src="/static/img/boutons.png" >
			<br>
      <div id="div2">
        <div class="research"> 
          <i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
          Internet et le Web
        </div>
        <br>
        <img src="/static/img/internetweb.gif" style="width: 650px; margin:auto;">
        <br>
        <button class="fenetre" onclick="window.location.href = '/tp1/part1-1'">Continuer</button>
      </div>
		</div>

		<br>
    <div class="row">
      <div class="intro-text">
        <h1 class="name">Tu as déjà terminé tous les exercices ?</h1>
          <hr class="star-light">
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p> N'hésite pas à pratiquer par librement les bases de données grâce à notre interface ! </p>
        <p style="margin-top: 20px;">
        </p>
      </div>
    </div>
  </div>
</header>

<script src="{{ url_for('static', filename='js/tp1/quiz1.js') }}"></script>

{% endblock %}
