{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">
		<div class="fenetre"> 
			<img class="boutons" src="/static/img/boutons.png" >
			<br>

			<div class="research"> 
				<i class="fa fa-fw fa-search" style="width: 50px; color: #7c7c7c;"> </i>
				Architecture globale
			</div>


			<div class="quiz-container">
				<div id="quiz"></div>
			  </div>
			  <button class="fenetre" id="previous" >Question précente</button>
			  <button class="fenetre" id="next">Question suivante</button>
			  <button class="fenetre" id="submit">Terminer le quiz</button>
			<div id="results"></div>
		</div>

		<br><br><br>

  		<div class="row">
			<div id="div0" class="col-sm-12">
				<img src="/static/img/architectureglobale.png" style="width: 710px">
				<button class="page" id="btn1">Réponse</button>
            </div>

			<!-- Display explication : Internet et Web-->
			<div class="col-sm-12" id="div1" style="display:none">
				<br><br><br><br>
				<img src="/static/img/internetweb.gif"> 			
				<button class="page" id="btn2">Question</button>
			</div>

			<!-- Display question 2-->
			<div class="col-sm-12" id="div2" style="display:none">
				<img src="/static/img/communicationinternet.png" style="width: 710px"> 
				<button class="page" id="btn3">Réponse</button>
			</div>

			<!-- Display explication : Adresses IP-->
			<div class="col-sm-12" id="div3" style="display:none">
				<br><br><br><br>
				<img src="/static/img/adresseip.gif"> 			
				<button class="page" id="btn4">Question</button>
			</div>

			<!-- Display question 3-->
			<div class="col-sm-12" id="div4" style="display:none">
				<img src="/static/img/communicationweb.png" style="width: 710px"> 
				<button class="page" id="btn5">Réponse</button>
			</div>

			<!-- Display explication : Hyperliens-->
			<div class="col-sm-12"id="div5" style="display:none">
				<br><br><br><br>
				<img src="/static/img/hyperliens.gif"> 			
				<button class="page" onclick="window.location.href = '/tp1/eval1'">Continuer</button>
			</div>
   		</div>

		<div class="row">
       		<div class="intro-text">
      			<h1 class="name">Tu as déjà terminé tous les exercices ?</h1>
       			<hr class="star-light">
       		</div>
       		<div class="col-lg-8 col-lg-offset-2 text-center">
       			<p> N'hésite pas à pratiquer par librement les bases de données grâce à notre interface ! </p>
      			<p style="margin-top: 20px;">
      			</p>
        	</div>
  		</div>
    </div>


</header>

<script>
(function(){
  // Functions
  function buildQuiz(){
    // variable to store the HTML output
    const output = [];

    monQuiz1.forEach((currentQuestion, questionNumber) => {
        const answers = []; // pour stocker la liste des réponses possibles
		// On ajoute un bouton 'radio' pour chaque lettre-réponse possible
		for(letter in currentQuestion.answers){
          answers.push(
            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
            </label>`
          );
        }
        output.push( // on ajoute à la sortie la question et les réponses
          `<div class="slide">
            <div class="question"> ${currentQuestion.question} </div>
            <div class="answers"> ${answers.join("")} </div>
          </div>`
        );
      }
    );

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join('');
  }

  function showResults(){

    // gather answer containers from our quiz
    const answerContainers = quizContainer.querySelectorAll('.answers');

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    monQuiz1.forEach( (currentQuestion, questionNumber) => {

      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if(userAnswer === currentQuestion.correctAnswer){
        // add to the number of correct answers
        numCorrect++;

        // color the answers green
        answerContainers[questionNumber].style.color = 'lightgreen';
      }
      // if answer is wrong or blank
      else{
        // color the answers red
        answerContainers[questionNumber].style.color = 'red';
      }
    });

    // show number of correct answers out of total
    resultsContainer.innerHTML = `${numCorrect} out of ${monQuiz1.length}`;
  }

  function showSlide(n) {
    slides[currentSlide].classList.remove('active-slide');
    slides[n].classList.add('active-slide');
    currentSlide = n;
    if(currentSlide === 0){
      previousButton.style.display = 'none';
    } else {
      previousButton.style.display = 'inline-block';
    }
    if(currentSlide === slides.length-1){
      nextButton.style.display = 'none';
      submitButton.style.display = 'inline-block';
    } else {
      nextButton.style.display = 'inline-block';
      submitButton.style.display = 'none';
    }
  }

  function showNextSlide() {
    showSlide(currentSlide + 1);
  }

  function showPreviousSlide() {
    showSlide(currentSlide - 1);
  }

  // Variables
  const quizContainer = document.getElementById('quiz');
  const resultsContainer = document.getElementById('results');
  const submitButton = document.getElementById('submit');
  const monQuiz1 = [
    { question: "Qu'est-ce qu'Internet ?",
      answers: { a: "Un truc cool", b: "Un truc nul", c: "Un truc bof" },
      correctAnswer: "a" },
    { question: "Qu'est-ce que le Web ?",
      answers: { a: "Un truc cool", b: "Un truc nul", c: "Un truc bof" },
	  correctAnswer: "c" },
    { question: "Which tool can you use to ensure code quality?",
      answers: { a: "Angular", b: "jQuery", c: "RequireJS", d: "ESLint" },
      correctAnswer: "d" }
  ];

  // Kick things off
  buildQuiz();

  // Pagination
  const previousButton = document.getElementById("previous");
  const nextButton = document.getElementById("next");
  const slides = document.querySelectorAll(".slide");
  let currentSlide = 0;

  // Show the first slide
  showSlide(currentSlide);

  // Event listeners
  submitButton.addEventListener('click', showResults);
  previousButton.addEventListener("click", showPreviousSlide);
  nextButton.addEventListener("click", showNextSlide);
})()

	let btn1 = document.getElementById("btn1");
	let btn2 = document.getElementById("btn2");
	let btn3 = document.getElementById("btn3");
	let btn4 = document.getElementById("btn4");
	let btn5 = document.getElementById("btn5");
	let div0 = document.getElementById("div0");
	let div1 = document.getElementById("div1");
	let div2 = document.getElementById("div2");
	let div3 = document.getElementById("div3");
	let div4 = document.getElementById("div4");
	let div5 = document.getElementById("div5");

	btn1.addEventListener("click", () => {
	  	if(getComputedStyle(div1).display != "none"){
	    		div1.style.display = "none";
	  	} else {
	    		div1.style.display = "block";
	  	}
	})

	btn2.addEventListener("click", () => {
	  	if(getComputedStyle(div2).display != "none"){
			div2.style.display = "none";
	  	} else {
			div1.style.display = "none";
			div0.style.display = "none";
	    		div2.style.display = "block";
	  	}
	})

	btn3.addEventListener("click", () => {
	  	if(getComputedStyle(div3).display != "none"){
	    		div3.style.display = "none";
	  	} else {
	    		div3.style.display = "block";

	  	}
	})

	btn4.addEventListener("click", () => {
	  	if(getComputedStyle(div4).display != "none"){
	    		div4.style.display = "none";
	  	} else {
			div2.style.display = "none";
			div3.style.display = "none";
	    		div4.style.display = "block";
	  	}
	})

	btn5.addEventListener("click", () => {
	  	if(getComputedStyle(div5).display != "none"){
	    		div5.style.display = "none";
	  	} else {
	    		div5.style.display = "block";
	  	}
	})

</script>

<style>
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}


</style>

{% endblock %}
