{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header>
	<div class="container" id="maincontent" tabindex="-1">
      		<div class="row">
			<p> Ici, un quizz sera disponible </p>
			<button class="page" onclick="window.location.href = '/'">Continuer</button>
      		</div>

      		<div class="row">
        		<div class="intro-text">
          			<h1 class="name">Tu as déjà terminé tous les exercices ?</h1>
          			<hr class="star-light">
        		</div>
        		<div class="col-lg-8 col-lg-offset-2 text-center">
          			<p> N'hésite pas à pratiquer par librement les bases de données grâce à notre interface ! </p>
          			<p style="margin-top: 20px;">
          			</p>
        		</div>
      		</div>

    	</div>
</header>

{% endblock %}
